html {
  height: 100%;
  font-family: Silkscreen;
  font-weight: 100;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2e2929;
}

#calculator {
  width: 500px;
  padding: 40px;
  border-radius: 5px;
  background-color: #1b3289;
  border: 1px solid #010101;
}

#display {
  background-color: #c4c4c4;
  flex-grow: 1;
  height: 75px;
  border: 1px solid #00000035;
  text-align: right;
  border-radius: 15px;
  margin-bottom: 40px;
}

#display p {
  padding-right: 15px;
  font-size: 40px;
  margin: 15px 0 0 0px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.digit-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.button {
  padding: 20px;
  border: 1px solid black;
  border-radius: 90px;
  background-color: #fff;
  font-size: 30px;
  flex-basis: 60px;
  text-align: center;
}

.button.operator {
  background-color: rgb(91, 140, 208);
}

.button:hover {
  background-color: #bdb6b6;
  cursor: pointer;
}

#equal {
  flex-grow: 1.5;
}

.clear,
.backspace {
  background-color: #112460;
  color: #fff;
}

.clear:hover,
.backspace:hover {
  background-color: #000;
  color: #fff;
}

.backspace {
  flex-grow: 1;
}
