html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#calculator {
    width: 500px;
    padding: 50px;
    background-color: grey;
    border-radius: 10px;
    background-color: #C794AF;
}

#display {
    background-color: #828081;
    flex-grow: 1;
    height: 75px;
    border: 1px solid #000;
    text-align: right;
    border-radius: 15px;
}

#display p {
    padding-right: 10px;
    font-size: 40px;
    margin: 15px 0 0 0px;
    ;
}

#digits {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.digit-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.button {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 20px;
    flex-basis: 60px;
    text-align: center;
}

.button:hover {
    background-color: #bdb6b6;
}

#equal {
    flex-grow: 1.5;
}